.DS_Store
.idea/
node_modules/

*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
android/build
android/app/build
/captures

*.apk
*.ap_
*.dex
*.class
bin/
gen/
local.properties
.classpath
.project
proguard/
*.ipr
*.iws
app/build/

.idea/*.xml

!.idea/gradle.xml
!.idea/runConfigurations/*.xml